/* Vars */
:root {
    /* Переменные для размеров шрифтов */
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-17: 17px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-25: 25px;
    --font-size-33: 33px;
    --font-size-40: 40px;
    --font-size-55: 55px;

    /* Переменные для семейства шрифтов */
    --font-family-inter: "Inter", sans-serif;
    --font-family-montserrat: "Montserrat", sans-serif;
    --font-family-roadradio: "RoadRadio", sans-serif;
    --font-family-roboto: "Roboto", sans-serif;

    /* Переменные для веса шрифтов */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-thin: 300;
    --font-weight-italic: italic;

    /* Цвета */
    --color-white: #fff;
    --color-dark-gray: #494849;
    --color-black: #000;
    --color-gray: #6d758f;
    --color-dark-gray-alt: #1a1a1a;
    --color-light-gray: #e0e0e0;

    /* Градиенты */
    --gradient-button: linear-gradient(101deg, #f00 -33.77%, #900 120.46%);
    --gradient--hover: linear-gradient(101deg, #900 -33.77%, #f00 120.46%);
    --gradient-text: linear-gradient(90deg, #f00 -3.94%, #900 100%);
    --gradient-3: linear-gradient(0deg,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0.3) 100%);
    --gradient-4: linear-gradient(101deg, #000 -33.77%, #494849 120.46%);
    --gradient-5: linear-gradient(0deg, #e0e0e0 0%, #e0e0e0 100%);
}

@media (max-width: 768px) {

    .global__padding {
        padding: 64px 16px;
    }   

    .header {
        padding: 30px 16px 0 16px;
    }

    .hero {
        padding: 128px 16px 32px 16px;
    }

    h1 {
        font-size: var(--font-size-25);
    }

    h2 {
        font-size: var(--font-size-25);
    }

    .reason-item h3 {
        font-size: var(--font-size-16);
    }

    .button-gradient span,
    .button-transparent {
        font-size: var(--font-size-18);
    }

    .category-item {
        width: 100%;
        padding: 16px 0 0 16px;
    }

    .category-text {
        padding-right: 16px;
    }

    .sub-text p {
        font-size: var(--font-size-16);
    }

    .сta-section .wrapper h2 {
        text-align: center;
    }

    .сta-section p {
        font-size: var(--font-size-18);
    }

    .service-item {
        width: 100%;
        padding: 16px;
    }

    .category-content-box img {
        height: 140px;
    }

    .service-item h3{
        font-size: var(--font-size-18);
    }

    .my-product-right {
        width: 100%;
        height: 350px;
    }

    .my-product-text p {
        font-size: var(--font-size-16);
    }

    .my-product-text small {
        font-size: var(--font-size-14);
    }

    .my-product-text ul li {
        font-size: var(--font-size-14);
    }

    .my-product-text a {
        font-size: var(--font-size-16);
        gap: 8px;
    }

    .solutions-list {
        gap: 16px;
    }

    .solution-item {
        width: calc(50% - 18px);
        min-width: 220px;
        flex: 1;
        height: 250px;
    }

    .projects-list {
        gap: 16px;
    }

    .project-item {
        width: 100%;
        min-width: 100%;
        flex: 1;
    }

    .recent-projects .button-black {
        font-size: 16px;
    }

    .our-mission-left .our-mission-img {
        width: 100%;
        height: 350px;
    }

    .our-mission-left .our-mission-img img{
        object-position: top;
    }

    .our-mission-right blockquote {
        font-size: var(--font-size-18);
    }

    .our-mission-right::before {
        width: 35px;
        height: 40px;
    }

     .our-mission-right::after {
        width: 35px;
        height: 40px;
    }

    .our-mission-left {
        gap: 32px;
    }

    .advantages .stat  {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .advantages-stat {
        align-items: center;
    }

    .advantages-content p {
        text-align: center;
        font-size: var(--font-size-25);
    }

    .faq-content {
        flex-direction: column;
    }

    .faq .wrapper {
        gap: 32px;
    }

    .faq-image {
        min-width: 100%;
        width: 100%;
    }

    .faq-text {
        padding-top: 0;
    }

    .contacts-content {
        max-width: 600px;
        width: 100%;
        min-width: 100%;
    }

    .contact-item {
        flex: 1;
    }

    .contacts-left {
        gap: 32px;
    }
    
    .contact-form form button {
        font-size: var(--font-size-14);
        padding: 16px;
    }

    .search-container {
        display: none;
    }

    .contacts-content {
        padding: 32px 16px;
    }

    .footer-navigation {
        flex-direction: column;
        gap: 16px;
    }

    .footer-section ul li a, .footer-section ul li button {
        font-size: var(--font-size-16);
    }

    .header-box {
        gap: 16px;
    }

    .header .wrapper {
        gap: 8px;
    }

    .approach__right {
        width: 100%;
        min-width: 100%;
    }

    .approach__box {
        gap: 32px;
    }

    .approach__left {
        min-width: 100%;
    }

    .approach__left {
        gap: 32px;
    }

    .article-main-content {
        padding: 0 16px 64px 16px;
    }

    .article-main {
        padding: 64px 0 0 0;
    }

     .breadcrumbs {
        padding: 0;
    }

    .article-main-content .wrapper {
        gap: 32px;
    }

    .breadcrumbs {
        padding: 0 16px;
    }

    .article-main-list li {
        flex-direction: column;
        gap: 8px;
    }

    .article-main-list li span {
        text-align: left;
    }

    .article-main-text p {
        font-size: var(--font-size-14);
    }

    .article-main-text {
        padding: 24px 16px;
    }

    .article-main-content h1 {
        font-size: var(--font-size-25);
    }

    .article-main-list li {
        padding: 16px;
    }

    .section-filter .wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .section-filter-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .section-filter-card {
        min-width: 256px;
        flex: 1;
    }

    .arto-woocommerce-shop .section-filter .shop-section {
        flex-direction: column;
    }

    .arto-woocommerce-shop .section-filter .sidebar {
        min-width: 100%;
        width: 100%;
        position: static;
    }

    .arto-woocommerce-shop .section-filter .shop-section .products {
        width: 100%;
    }

    .arto-woocommerce-shop .section-filter .woocommerce-products-header h1 {
        font-size: var(--font-size-25);
    }

    .arto-woocommerce-shop .section-filter .woocommerce-products-header {
        flex-direction: column;
    }

    .arto-single-product .related .products {
        grid-template-columns: repeat(1, 1fr);
    }

    .arto-single-product .summary .price {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0;
    }

    .arto-single-product .woocommerce-product-gallery .wp-post-image {
        height: 350px;
    }

    .arto-single-product .woocommerce-product-gallery__image-smoll {
        width: 100px;
        height: 100px;
    }

    .arto-single-product .tab-list {
        flex-direction: column;
    }

    .arto-single-product .tab-list .tab.active {
        border: none;
        border-bottom: 1px solid var(--color-black);
    }

    .arto-woocommerce-shop .woocommerce-Price-amount {
        margin-bottom: 16px;
    }

    .tab-content p {
        padding: 0;
    }
}